<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ramanbindal.panakeia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".signup" />
        <activity android:name=".simpleactivity" />
        <activity android:name=".resetpasswordactivity" />
        <activity
            android:name=".profile"
            android:label="Panakeia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".serviceform" />
        <activity android:name=".viewrequests" />
        <activity android:name=".ContactDetails" />
        <activity android:name=".UserProfile"></activity>
    </application>

</manifest>